<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333456297195-523k25ulq09mfp60kgr02s0nakdq875m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333456297195-523k25ulq09mfp60kgr02s0nakdq875m</string>
	<key>API_KEY</key>
	<string>AIzaSyDf7gYgGC6UiDoFJZWoKeP9Lo2dkt_ylmA</string>
	<key>GCM_SENDER_ID</key>
	<string>333456297195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foranimals.foranimals</string>
	<key>PROJECT_ID</key>
	<string>db-foranimals</string>
	<key>STORAGE_BUCKET</key>
	<string>db-foranimals.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333456297195:ios:592095dbb3b846ca75c2ae</string>
</dict>
</plist>